/bus/zhkj-bus-api/node_modules/*
/bus/zhkj-bus-client/node_modules/*
/space/zhkj-service/node_modules/*
/space/zhkj-api/node_modules/*
/space/zhkj-client/node_modules/*
/space/zhkj-api/dist/*
/space/zhkj-h5-api/node_modules/*
/space/zhkj-h5-client/node_modules/*
/space/zhkj-time-api/node_modules/*
/allinone/archdata/service/node_modules/*
/allinone/iobp/service/node_modules/*
/allinone/iobp/api/node_modules/*
/allinone/cas/service/node_modules/*
/allinone/cas/api/node_modules/*
/allinone/message/service/node_modules/*
/allinone/message/api/node_modules/*
/allinone/kafka/node_modules/*
/allinone/web/node_modules/*
/allinone/iobp/api/public/*
/meeting/api/node_modules/*
/meeting/service/node_modules/*
/meeting/client/node_modules/*
/meeting/mobile_client/node_modules/*
/meeting/pad_client/node_modules/*
/meeting/logs/*
/meeting/api/dist/*
/entry/wxoa/static/static/*
/IOC/api/node_modules/*
/IOC/service/node_modules/*
**/node_modules/*
**/logs/*
.vscode
yarn.lock
*.log
/entry/wxoa/static/*
